@model Movie_Rentals.ViewModels.ActorViewModel
@{
    ViewBag.Title = Model.Actor.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Actor.Name</h2>
<ul>
    <li>Birth Date: @Model.Actor.BirthDate.ToShortDateString()</li>
    <li>Age: @Model.Actor.CalculateAge(Model.BirthDate)</li>
    <li>
        Movies:
        <ul>
            @foreach (var m in Model.Movies)
            {
                <li>@Html.ActionLink(m.Name, "Details", "Movies", new { id = m.Id }, null)</li>
            }
        </ul>
    </li>

</ul>
<input type="button" value="Edit" onclick="@("window.location.href='" + @Url.Action("Edit", "Actor", new { id = Model.id}) + "'");" />