@model WebApplication1.Models.Movie
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Genre: @Model.Genre</li>
    <li>Release date: @Model.ReleaseDate.ToShortDateString()</li>
    <li>Add date: @Model.AddDate.ToShortDateString()</li>
    <li>Starring:
        <ul>
            @foreach (var a in Model.Actors)
            {
                <li>@Html.ActionLink(a.Name, "Details", "Actor", new { id = a.id }, null)</li>
            }
        </ul>
    
     
    </li>
</ul>
<input type="button" value="Edit" onclick="@("window.location.href='" + @Url.Action("Edit", "Actor", new { id = Model.Id}) + "'");" />
