@model Movie_Rentals.ViewModels.AddActorViewModel
@{
    ViewBag.Title = Model.Movie.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>
@if (File.Exists(Server.MapPath("/Content/Images/" + Model.Movie.Name + ".png")))
{
    <img src="@Model.Movie.posterPath">

}
else
{
    <img src="~/Content/Images/404img.png">

}
<br>
<br>
<input type="button" class="btn btn-primary" value="Upload Poster" onclick="@("window.location.href='" + @Url.Action("PosterUploadRedirect", "Movies", new { id = Model.Movie.Id}) + "'");" />
<ul>
    <li>Genre: @Model.Movie.Genre</li>
    <li>Release date: @Model.Movie.ReleaseDate.ToShortDateString()</li>
    <li>Add date: @Model.Movie.AddDate.ToShortDateString()</li>
    <li>
        Starring:
        <ul>
            @foreach (var a in Model.Actors)
            {
                <li>@Html.ActionLink(a.Name, "Details", "Actor", new { id = a.id }, null)</li>
            }
        </ul>


    </li>
</ul>
@if (File.Exists(Server.MapPath(Model.Movie.videoPath)))
{
    <video controls width="400" height="300">
        <source src="@Model.Movie.videoPath + 1" type="video/mp4">
        <source src="@Model.Movie.videoPath + 2" type="video/webm">
        <source src="@Model.Movie.videoPath + 3" type="video/ogg">
    </video>
}
<input type="button" class="btn btn-primary" value="Edit" onclick="@("window.location.href='" + @Url.Action("Edit", "Movies", new { id = Model.Movie.Id}) + "'");" />
<input type="button" class="btn btn-primary" value="Add actors" onclick="@("window.location.href='" + @Url.Action("AddActors", "Movies", new { id = Model.Movie.Id}) + "'");" />
<input type="button" class="btn btn-primary" value="Upload movie" onclick="@("window.location.href='" + @Url.Action("UploadMovie", "Movies", new { id = Model.Movie.Id}) + "'");" />
