@model Movie_Rentals.ViewModels.CustomerViewModel

@{
    ViewBag.Title = Model.Customer.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Customer.Name</h2>
<ul>
    <li>Membership type : @Model.Customer.MembershipType.NameOfMembershipType</li>
    @if (Model.Customer.birthDate.HasValue)
    {
    <li>Birth date : @Model.Customer.birthDate.Value.ToShortDateString()</li>
    }
    <li>Movies rented: </li>
    <ul>
        @foreach (var m in Model.Movies)
        {
            <li>@Html.ActionLink(m.Name, "Details","Movies", new { id = m.Id}, null)</li>
        }
    </ul>
    
</ul>
<input type="button" value="Edit" onclick="@("window.location.href='" + @Url.Action("Edit", "Customers", new { id = Model.Customer.ID}) + "'");" />